<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sleep Tracker 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="home-header-text">
    <h2>Good Evening</h2>
    <h5>How are you feeling?</h5>
  </div>

  <div id="home-body">
    <div id="home-body-text">
      <div id="ion-card-log">
        <ion-card (click)="logSleep()">
            <ion-card-header>
              <ion-card-title>Good Night, {{this.username}}</ion-card-title>
              <ion-card-subtitle></ion-card-subtitle>
            </ion-card-header>

            <ion-card-content style="color: white;">
              log tonight's sleep <ion-icon name="chevron-forward-outline" color="white"></ion-icon>
            </ion-card-content>
        </ion-card>
      </div>
    <div id="range-button-div">
    <div id="range-div">
      <ion-range aria-label="Range with ticks" [ticks]="true" [snaps]="true" [min]="1" [max]="7" [(ngModel)]="loggedMood">
        <ion-icon slot="start" name="happy-outline" class="custom-ion-icon"></ion-icon>
        <ion-icon slot="end" name="sad-outline" class="custom-ion-icon"></ion-icon>
      </ion-range>
    </div>
    <ion-button (click)="saveLoggedMood()" class="custom-ion-button">Log Mood</ion-button>
    </div>
  <div id="view-sleep">
    <ion-card (click)="viewData()">
      <ion-card-content style="color: white;">View Sleep Data</ion-card-content>
    </ion-card>
  </div>

  </div>
  </div>

  <div id="footer-container" class="ion-text-center">
    <ion-footer>
      <ion-toolbar full>
          <ion-buttons slot="start">
            <ion-button (click)="goToHome()">
              <ion-icon name="home"></ion-icon>
               Home
            </ion-button>
          </ion-buttons>
      
          <ion-buttons slot="start">
            <ion-button (click)="logSleep()">
              <ion-icon name="bed"></ion-icon>
               Log Sleep
            </ion-button>
          </ion-buttons>
      
          <ion-buttons slot="start">
            <ion-button (click)="viewData()">
              <ion-icon name="stats-chart"></ion-icon>
               View Data
            </ion-button>
          </ion-buttons>
      
          <ion-buttons slot="start">
            <ion-button (click)="goToSettings()">
              <ion-icon name="settings"></ion-icon>
               Settings
            </ion-button>
          </ion-buttons>

          <ion-buttons slot="start">
            <ion-button (click)="goToGoals()">
              <ion-icon name="star"></ion-icon>
               Goals
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
  </div>
</ion-content>
