<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sleep Tracker Data View
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let data of this.overnightData">
    <ion-card-header>
      <ion-card-title>{{ data.dateString() }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div>Time slept: {{ data.getSleepStart() }}</div>
      <div>Time woke: {{ data.getSleepEnd() }}</div>
      <div>Total sleep: {{ data.summaryString() }}</div>
    </ion-card-content>
  </ion-card>
  
  <div id="footer-container" class="ion-text-center">
    <ion-footer>
      <ion-toolbar full>
        <ion-buttons slot="start">
          <ion-button (click)="goToHome()">
            <ion-icon name="home"></ion-icon>
            Home
          </ion-button>
        </ion-buttons>
      
        <ion-buttons slot="start">
          <ion-button (click)="logSleep()">
            <ion-icon name="bed"></ion-icon>
            Log Sleep
          </ion-button>
        </ion-buttons>
      
        <ion-buttons slot="start">
          <ion-button (click)="viewData()">
            <ion-icon name="stats-chart"></ion-icon>
            View Data
          </ion-button>
        </ion-buttons>
      
        <ion-buttons slot="start">
          <ion-button (click)="goToSettings()">
            <ion-icon name="settings"></ion-icon>
            Settings
          </ion-button>
        </ion-buttons>

        <ion-buttons slot="start">
          <ion-button (click)="goToGoals()">
            <ion-icon name="star"></ion-icon>
            Goals
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </div>
</ion-content>
