ion-content {
    --background: linear-gradient(180deg, #481E7F 29.9%, #B9D2F8 100%);
    --ion-background-color: transparent;
    
}
.container {
    width: 90%; /* Adjust the width as needed */
    max-width: 70%; /* Limit the width if necessary */
  }