<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sleep Tracker Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="button-container">
    <ion-button expand="full" (click)="openChangePasswordModal()">Change Password</ion-button>
    <ion-button expand="full" color="danger" (click)="signOut()">Sign Out</ion-button>
    <ion-button expand="full" color="danger" (click)="delete()">Delete Account</ion-button>
  </div>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button tab="home" (click)="goToHome()">
    <ion-icon aria-hidden="true" name="home"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="logSleep" (click)="logSleep()">
    <ion-icon aria-hidden="true" name="bed"></ion-icon>
    <ion-label>log sleep</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="data" (click)="viewData()">
    <ion-icon aria-hidden="true" name="stats-chart"></ion-icon>
    <ion-label>view data</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="settings" (click)="goToSettings()">
    <ion-icon aria-hidden="true" name="stats-chart"></ion-icon>
    <ion-label>settings</ion-label>
  </ion-tab-button>
</ion-tab-bar>
