<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sleep Tracker Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sleep Tracker</ion-title>
    </ion-toolbar>
  </ion-header>
  
    <ion-item>
      <label position="stacked">Username: </label>
      <ion-input [(ngModel)]="username" disabled></ion-input>
    </ion-item>
  
    <ion-item>
      <label position="stacked">Password: </label>
      <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
    </ion-item>
  
    <ion-button expand="full" (click)="changePassword()">Change Password</ion-button>
    <ion-button expand="full" color="danger" (click)="signOut()">Sign Out</ion-button>

</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button tab="home" (click)="goToHome()">
    <ion-icon aria-hidden="true" name="home"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="logSleep" (click)="logSleep()">
    <ion-icon aria-hidden="true" name="bed"></ion-icon>
    <ion-label>log sleep</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="data" (click)="viewData()">
    <ion-icon aria-hidden="true" name="stats-chart"></ion-icon>
    <ion-label>view data</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="settings" (click)="goToSettings()">
    <ion-icon aria-hidden="true" name="stats-chart"></ion-icon>
    <ion-label>settings</ion-label>
  </ion-tab-button>
</ion-tab-bar>
