#container {
    text-align: left;
    margin-left: 10%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  #footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .custom-width-button {
    width: 200px;
  }
  
  #sleep-buttons-container {
    text-align: center;
    position:absolute;
    bottom: 15%;
    left: 0;
    right: 0;
  }

  body {
    margin: 0; 
    padding: 0; 
  }

  ion-content {
    --background: none;
    background-image: url(night-time.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #sleepiness-scale-container {
    text-align: center;
    background-color: #011A5B;
    border-radius: 25px;
    padding: 5px;
  }

  #sleep-scale-button {
    text-align: center;
  }
  .custom-ion-button {
    --border-radius: 15px;
    --background: #011A5B;
    --color: white;
  }

  #sleep-scale-button {
    text-align: center;
  }

  .custom-ion-icon {
    color: white;
  }
