
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Change Password
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <label position="stacked">New Password</label>
    <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="updatePassword()">Update Password</ion-button>
</ion-content>
